<div class="container import-container">
    <alert ng-show="vm.alert" type="{{vm.alert.type}}" close="vm.closeAlert()" ng-bind-html="vm.alert.msg"></alert>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Import from excel file</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <input type="file" nv-file-select uploader="vm.uploader"/>
                <p class="help-block">Specify excel file to import from.</p>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th ng-show="vm.uploader.isHTML5">Size</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in vm.uploader.queue">
                    <td>
                        <strong>{{item.file.name}}</strong>
                    </td>
                    <td ng-show="vm.uploader.isHTML5" nowrap>{{item.file.size/1024/1024|number:2}} MB</td>
                    <td nowrap>
                        <button type="button" class="btn btn-success" ng-click="item.upload()" aries-btn-loading="item.isUploading" data-loading-text="<i class='fa fa-spinner fa-pulse'></i> Uploading...">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                        <button type="button" class="btn btn-warning" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="button" class="btn btn-danger" ng-click="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>